body {
  background-color: #6ef9eb;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  width: 100px;
  color: white;
  text-shadow: 0px 0px 6px black;
  font-weight: 600;
  padding: 14px 20px;
  border: none;
  background-color: #6ef9eb;
  margin: 15px;
}

button:hover {
  opacity: 0.8;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

header {
  background-color: #2aa296;
}

footer {
  background: #2aa296;
}

p {
  font-weight: bolder;
  margin: 0px 20px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  width: 10rem;
  height: 10rem;
  padding: 15px 15px;
}

.buttons {
  width: 100%;
  text-align: end;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.form {
  margin: 0px 20px;
}

#formfoot {
  background-color: #f1f1f1;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Jumbotron */
.carousel .jumbotron {
  margin-bottom: 0px;
}

.carousel {
  z-index: auto;
  min-width: 320px;
}

.jumbotron {
  height: 46rem;
  padding-top: 18rem;
  text-align: center;
  background-size: cover;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
}

.background-jpg1 {
  background-image: url("../images/1.jpg");
}

.background-jpg2 {
  background-image: url("../images/2.jpg");
}

.background-jpg3 {
  background-image: url("../images/3.jpg");
}

.background-jpg4 {
  background-image: url("../images/4.jpg");
}

.jumbotron h1 {
  font-family: Audiowide, sans-serif;
  font-size: 6rem;
  color: white;
  text-shadow: 0px 0px 6px black;
  opacity: 0.9;
}

.jumbotron h4 {
  max-width: 51.3rem;
  margin: auto;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 4px black;
  opacity: 0.9;
}

.relative-wrapper {
  position: relative;
  top: -16rem;
  width: 100%;
  text-align: center;
}
/*Jumbotron end*/

#map {
  margin-top: 15px;
  margin-bottom: 15px;
}

#kart {
  width: 100%;
  height: 450px;
  border: none;
}

.icon {
  width: 120px;
}

.icon i {
  margin-left: 6px;
}

.text {
  width: 100%;
  text-align: end;
  padding: 10px 10px;
}

@media only screen and (max-width: 319px) {
  html {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  button {
    margin: 10px 2px;
    padding: 6px 2px;
  }

  .jumbotron {
    height: 30rem;
    padding-top: 8rem;
  }

  .jumbotron h1 {
    font-size: 3rem;
  }

  .jumbotron h4 {
    font-size: 1rem;
  }

  #kart {
    display: none;
    }

  #maps {
    height: 350px;
    width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 620px) {
  button {
    padding: 8px 0px;
  }

  .jumbotron {
    height: 36rem;
    padding-top: 9rem;
  }

  .jumbotron h1 {
    font-size: 4rem;
  }

  .jumbotron h4 {
    font-size: 1.2rem;
  }

  #kart {
    display: none;
    }

  #maps {
    height: 400px;
    width: 100%;
    }
}
